.invoice-card {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .tag {
    background: #007bff;
    padding: 5px;
    color: white;
    border-radius: 5px;
  }


  .reference {
    font-weight: bold;
    color: #333;
  }

  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    text-align: right;
  }
}
